* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

#root{
  display: flex;
  flex-direction: column;
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
.room_card{
  border: 2px solid black;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#rooms-page{
  justify-content: space-evenly;
}
button{
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  border-radius: 17%;
  min-width: 180px;
  font-weight: bold;
  margin: 10px auto;
}

#add-room-btn{

}

.room_card.active {
  background-color: yellow;
}

.users_list{
  min-width: 200px;
}
.textblock{
  min-width: 400px;
  min-height: 400px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#game-page{
  display: flex;
  justify-content: space-evenly;
  margin-top: 65px;
}

.users_list{
  margin-left: 20px;
  list-style-type: none;
}

.game_page_warapper{
  display: flex;
  flex-direction: column;
}

.speech-bubble {
	position: relative;
	background: #067a59;
	border-radius: 50%;
  padding: 40px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #067a59;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}